body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

/*span {
	color: white;
}*/

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background-color: blue;
}

button {
	border: none;
	background-color: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
}